.clear { clear: both; }

.left { float: left; }

.right { float: right; }

.green { color: #3f7e86; }

.orange { color: #ff9415; }

#component img {
	border: #ed8501 solid 2px;
}
#component img.left {
	margin: 0 12px 30px 0;
}

#component img.right {
	margin: 0 0 30px 12px;
}

.home_img {
	border: #ed8501 solid 2px;
}

.readmore {
	background: url(../images/readmorebg.png) 0 0 no-repeat;
	text-decoration: none;
	font-size: 16px;
	padding-left: 9px;
	float: left;
}

.readmore > * {
	background: url(../images/readmorebg.png) right -35px no-repeat;
	color: white;
	line-height: 34px;
	padding: 1px 9px 0 0;
	text-decoration: none;
	text-transform: capitalize;
	display: block;
	float: left;
}
.readmore > *:hover {
	color: black;
}