.left_img { 
	border: #ed8501 solid 2px;
	float: left;
	margin: 0 18px 0 0;
}

.readmore {
	background: url(../images/readmorebg.png) 0 0 no-repeat;
	text-decoration: none;
	font-size: 16px;
	padding-left: 9px;
	float: left;
}

.readmore > * {
	background: url(../images/readmorebg.png) right -35px no-repeat;
	color: white;
	line-height: 34px;
	padding: 1px 9px 0 0;
	text-decoration: none;
	text-transform: capitalize;
	display: block;
	float: left;
}
.readmore > *:hover {
	color: black;
}