html { background: #3f7e86;  }

body { 
	background: white;
	font-family: times, serif;
	font-size: 14px;
	line-height: 1.5em;
	margin: 0 auto; 
} 

p {
	margin: 1em 0;
}

ul, ol {
	margin: 1em 0;
}

h1 {
	color: #ff9415;
	font-size: 50px;
	padding: 20px 0px 40px ;
}

h2 {
	color: #ff9415;
	border-bottom: #ff9415 solid 1px;
	margin-bottom: 30px;
	padding: 5px 0px;
	font-size: 20px;
	width: 90%;
}

h3 {
	font-size: 25px;
	font-weight: bold;
	line-height: 1.10em;
	padding: 5px 0;
}
/* table settings */

table, td, th { 
	border: 2px solid #ed8501; 
}

#component .medium table, td { text-align: left; padding: 0 10px; }

tbody {
	text-align: center;
	padding-top: 20px;
}

#component table {
	vertical-align: middle; 
	width: 390px; 
}

th { 
	background-color: #487c85; 
	color: white; 
	vertical-align: middle;
}

td { vertical-align: middle; }

/* calendar settings */
#component .com_calendar h1 { display: none; }
#component .com_calendar table { width: 780px; } 
#component .com_calendar table h2 { 
	border: none;
	color: #ed8501; 
	font-size: 24px; 
	margin-bottom: 0; 
	text-align: center;
	width: 100%; 
	vertical-align: middle; 
}
.com_calendar .calendar .day { border: 2px solid #ff9415; }
.com_calendar .calendar .day.today { background: #ff9415; }
.com_calendar .calendar .day.padding { background: #487c85; }
#content .com_calendar th a { color: white; text-align: center; vertical-align: middle; }
.com_calendar tbody { text-align: left; }
.com_calendar tbody .date { color: #487c85; font-weight: bold; top: 1px; left: 1px; font-size: 12px;}
.com_calendar tbody .day { vertical-align: top; height: 100px; width: 112px;}

#popover_event { background: #487c85; color: white; border: #ed8501 solid 2px; }