html { background: #3f7e86;  }

body { 
	background: white;
	font-family: times, serif;
	font-size: 14px;
	line-height: 1.5em;
	margin: 0 auto; 
} 

p, ol, ul, table {
	margin: 1em 0;
}
p:first-child, ol:first-child, ul:first-child,
table:first-child {
	margin-top: 0;
}


h1 {
	color: #ff9415;
	font-size: 50px;
	padding: 20px 0px ;
}

h2 {
	color: #ff9415;
	border-bottom: #ff9415 solid 1px;
	margin-bottom: 30px;
	padding: 5px 0px;
	font-size: 20px;
	width: 90%;
}

h3 {
	font-size: 25px;
	font-weight: bold;
	line-height: 1.10em;
	padding: 5px 0;
}
/* table settings */
table {}

table, td, th { 
	border: 2px solid #ed8500; 
	width: 390px;
}

tbody {
	padding-top: 20px;
}

th { 	
	background-color: #487c85; 
	color: white;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.1em;
	padding: 5px 0;
}

td { padding: 5px; }

/* Staff table settings */
table.staff td { 
	text-align: center;
	width: 50%;
}


/* calendar settings */
#component .com_calendar h1 { display: none; }
#component .com_calendar th.title { 
	border: none;
	color: #ff9415; 
	font-size: 24px; 
}
#component .com_calendar table th {
	font-size: 15px;
}
.com_calendar .calendar .day { border: 2px solid #ed8500; }
.com_calendar .calendar .day.today { background: #ff9415; }
.com_calendar .calendar .day.padding { background: #487c85; }
#content .com_calendar th a { color: #ff9415; text-align: center; vertical-align: middle; }
.com_calendar tbody .day { vertical-align: top; height: 100px; width: 112px; }
.com_calendar tbody .date { color: #487c85; font-weight: bold; font-size: 12px;}
.com_calendar tbody .event + .event { border-top: 1px solid #ed8500; }


#popover_event { 
	background: #487c85;
	color: white;
	border: #ed8501 solid 2px;
}
#popover_event h2 { margin-bottom: 5px; }