#top { background: white; }

#top > div {
	margin: 0 auto;
	width: 960px;
}

#mainmenu {
	background: url(../images/mainmenubg.png) repeat-x;
	height: 46px;
	margin: 0 auto;
}

#mainmenu > div {
	margin: 0 auto;
	width: 960px;
}

#header { background: #3f7e86 url(../images/header_glow_inner.png) center no-repeat; }

#header > div {
	background: url(../images/header_top_bg.png) top repeat-x;
	padding-top: 8px;
}

#header > div > div {
	/* add image with bottom shadow, curve etc */
	background: url(../images/header_bottom_bg.png) bottom no-repeat;
	padding-bottom: 50px;
}

#header > div > div > div {
	margin: 0 auto;
	min-height: 188px;
	width: 960px;
}


#content { 
	background: white;
	margin: 0 auto;
	padding: 25px 10px;	
	width: 940px;
}

#content > div { }

#component {
	float: left; 
	width: 940px;
}

#component.medium { width: 780px; }
#component.narrow { width: 480px; }

#component > div { }

#sidebar1 { 
	background: white;
	float: left;
	width: 160px;
}

#sidebar1 > div { padding: 0 10px; }

#sidebar2 { 
	float: left;
	width: 300px;
}

#bottom {
	background: url(../images/bottom_bg2.png) center no-repeat;
	padding-top: 80px; /* fixme */	
}

#bottom > div { background: #3f7e86; }

#bottom > div > div {	
	margin: 0 auto;
	width: 940px;
}

#bottom > div > div > div { 
	background: url(../images/bottomhr.png) repeat-x;
	margin: 10px 0;
	padding: 10px 0px;
	width: 940px;
}