#top { background: white; }

#top > div {
	margin: 0 auto;
	width: 940px;
}

#mainmenu {
	background: url(../images/mainmenubg.png) repeat-x;
	height: 46px;
	margin: 0 auto;
}

#mainmenu > div {
	margin: 0 auto;
	width: 960px;
}

#header { background: #3f7e86 url(../images/header_glow_inner.png) center no-repeat; }

#header > div {
	background: url(../images/header_top_bg.png) top repeat-x;
	padding-top: 8px;
}

#header > div > div {
	background: url(../images/header_bottom_bg.png) bottom no-repeat;
	padding-bottom: 50px;
}

#header > div > div > div {
	color: white; 
	width: 940px;
	padding: 46px 10px 23px;
	margin: 0 auto;
}

#content { 
	background: white;
	margin: 0 auto;
	padding: 25px 10px;	
	width: 940px;
}

#content > div { }

#component {
	float: left; 
	width: 940px;
}

#component > div { }

#component.medium { width: 780px; }
#component.narrow { width: 460px; padding: 0 10px;}

#sidebar_left { 
	float: left;
	width: 300px;
}

#sidebar_right { 
	background: white;
	float: left;
	width: 160px;
}

#sidebar_right > div { padding: 0 20px; }

#bottom {
	background: #3f7e86 url(../images/bottom_bg3.png) top center no-repeat;
	padding-top: 36px;	
}

#bottom img { display: block; }

#bottom > div {
	margin: 0 auto;
	padding: 0 10px 20px;
	width: 940px;
}
#bottom > div > div { position: relative; }
#bottom > div > div + div { 
	background: url(../images/bottomhr.png) repeat-x;
	margin: 10px 0;
	padding: 10px 0px;
}