#top { 
	background: white;
	
}

#top > div {
	margin: 0 auto;
	width: 960px;
}

#mainmenu {
	background: url(../images/mainmenubg.png) repeat-x;
	height: 46px;
	margin: 0 auto;
}

#mainmenu > div {
	width: 960px;
	margin: 0 auto;
}

#header {
	background: #3f7e86 url(../images/header_glow_inner.png) center no-repeat;
}

#header > div {
	/* add image with top shadow */
	border-top: 4px solid black; /* fix me */
	padding-top: 10px;
}

#header > div > div {
	/* add image with bottom shadow, curve etc */
	background: url(../images/header_bottom_bg.png) bottom no-repeat;
	padding-bottom: 50px;
}

#header > div > div > div {
	width: 960px;
	margin: 0 auto;
}


#content { 
	background: white;
	width: 800px;
	padding: 25px 0;
	margin: 0 auto;
}

#sidebar1 { 
	background: black;
	height: 500px;
	width: 160px;
}

#sidebar2 {
	width: 300px;
}

#bottom {
	background: url(../images/bottom_bg2.png) center no-repeat;
	padding-top: 36px;
}

#bottom > div {
	background: #3f7e86;
}

#bottom > div > div { 
	background: url(../images/bottomhr.png) repeat-x;
	width: 960px;
}

#bottom > div > div > div {
	padding: 1px 0;
	margin: 0 auto;
}