.moduletable { }

/*top menu begins */

#top .moduletable { font-size: 14px; padding: 10px 0; }
#top .moduletable ul { float: right; list-style-type: none; padding-top: 40px; }
#top .moduletable li { display: inline; }
#top .moduletable a,
#top .moduletable span { color: #487c85; padding: 0 4px; text-decoration: none; }
#top .moduletable a:hover { color: #f18500; }

/*top menu ends */

/* main menu begins */
.moduletable_menu { font-size: 16px; }
.moduletable_menu ul { list-style-type: none; margin: 0 0 1px 0; }
.moduletable_menu li { 
	float: left;
	margin: 0;
	position: relative;
	zoom: 1;
}
.moduletable_menu li > a,
.moduletable_menu li > span { 
	color: #487c85; 
	display: block;
	line-height: 30px;
	margin: 0 0 1px 0;
	padding: 7px 15px 8px;
	text-decoration: none;
}
.moduletable_menu li:first-child > a,
.moduletable_menu li:first-child > span { padding-left: 0; }
.moduletable_menu li > a:hover,
.moduletable_menu li > span:hover { 
	background: url(../images/hoverdot.png) bottom no-repeat;
	color: #f18500;
}
/* main menu ends */

/* submenu beings*/
.moduletable_menu ul ul {
	background: url(../images/dropdownbg.png) bottom no-repeat;
	display: none;
	position: absolute;
	top:100%;
	left: 50%;
	margin-left: -79px;
	padding-bottom: 8px;
	width: 157px;
}
.moduletable_menu li:hover ul { display: block; }

.moduletable_menu ul ul li {
	background: #e6e6e6;
	float: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.moduletable_menu ul ul li > a,
.moduletable_menu ul ul li > span { 
	line-height: 1.5em; 
	padding: 4px 0 0;
}
.moduletable_menu ul ul li > a:hover,
.moduletable_menu ul ul li > span:hover { background: none; }
/* submenu ends */

/* header home page begins */
body.home #header .moduletable { 
	float: left;
	padding: 0 10px;
	width: 440px;
}
body.home #header h1 { font-size: 24px; }
/* header home page ends */

/* content page begins */
.home #content a { text-decoration: none; color: white; }
.home #content a:hover { color: black;}

#content ul { list-style-type: circle; margin: 1em 0 1em 1.5em; }
#content li { }
#content a { text-decoration: none; color: #487c85; }
#content a:hover { color: #f18500; }
#content .day.today.title a:hover { color: red; }
/* content page ends */

/* sidebar_right begins */
#sidebar_right .moduletable { padding: 14px 0 0 0; }
/* sidebar_right ends */

/* sidebar_left begins */
#sidebar_left .moduletable ul { margin-left: 0; }
#sidebar_left .moduletable li { list-style-type: none; }
/* sidebar_left ends */

/* events begins */
.mod_calendar  {  }
.mod_calendar ul { list-style-type: none; padding-left: 10px; }
.mod_calendar li { padding-bottom: 12px; }
.mod_calendar li .date { color: #487c85;  }
#content .mod_calendar ul { padding-left: 0; }
/* events ends */

/*bottom menu begins */
#bottom .moduletable.menu { 
	font-size: 10px; 
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 1em;
}

#bottom .moduletable.menu ul {  list-style-type: none; }
#bottom .moduletable.menu li { float: left; }
#bottom .moduletable.menu li > a,
#bottom .moduletable.menu li > span { color: white; padding: 0 0 0 6px; text-decoration: none; }
#bottom .moduletable.menu li:hover > a,
#bottom .moduletable.menu li:hover > span { color: #f18500; }
#bottom .moduletable.menu li:hover > a.separator, 
#bottom .moduletable.menu li:hover > span.separator { color: white; }
/* bottom menu ends */


