.moduletable { }

/*top menu begins */

#top .moduletable { font-size: 14px; padding: 10px 0; }
#top .moduletable ul { float: right; list-style-type: none; padding-top: 40px; }
#top .moduletable li { display: inline; }
#top .moduletable a,
#top .moduletable span { color: #487c85; padding: 0 4px; text-decoration: none; }
#top .moduletable a:hover { color: #f18500; }

/*top menu ends */

/* main menu begins */
.moduletable_menu { font-size: 15px; }
.moduletable_menu ul { list-style-type: none; }
.moduletable_menu li { float: left; }
.moduletable_menu li > a,
.moduletable_menu li > span { 
	color: #487c85; 
	display: block;
	line-height: 33px;
	margin-bottom: 1px;
	padding: 4px 15px 8px;
	text-decoration: none;
}
.moduletable_menu li:first-child > a,
.moduletable_menu li:first-child > span { padding-left: 0; }
.moduletable_menu li > a:hover,
.moduletable_menu li > span:hover { 
	background: url(../images/hoverdot.png) bottom no-repeat;
	color: #f18500;
}
/* main menu ends */

/* header home page begins */
body.home #header .moduletable { 
	float: left;
	padding: 0 10px;
	width: 440px;
}
body.home #header h1 { font-size: 24px; }
/* header home page ends */

/* sidebar_right begins */
#sidebar_right .moduletable { padding: 0 0 25px 0; }
/* sidebar_right ends */

/*bottom menu begins */
#bottom .moduletable.menu { 
	font-size: 10px; 
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 1em;
}
#bottom .moduletable.menu ul {  list-style-type: none; }
#bottom .moduletable.menu li { display: inline; }
#bottom .moduletable.menu li > a,
#bottom .moduletable.menu li > span { color: white; padding: 0 0 0 6px; text-decoration: none; }
#bottom .moduletable.menu li:hover > a,
#bottom .moduletable.menu li:hover > span { color: #f18500; }
/* bottom menu ends */


